/* #btntshirt {
    position: absolute;
    bottom: 2%;
    left: 25%;
} */
/* #btnpolo {
    position: absolute;
    bottom: -3%;
    left: 30%;
}
#btnls {
    position: absolute;
    bottom: -2%;
    left: 30%;
} */