*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
/*  color: orange;*/
}
body {
  display: flex;
  padding: 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #e2edff;
}
.navbar {
  background-color: #2576f7;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0%;
  z-index: 999;
}

#login {
  position: absolute;
  text-decoration: none;
  color: white;
  right: 5%;
  top: 30%;
}
#daftar {
  position: absolute;
  text-decoration: none;
  color: white;
  right: 10%;
  top: 30%;
}
#home {
  position: absolute;
  text-decoration: none;
  color: white;
  right: 5%;
  top: 30%;
}


#replace {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 25%;
  top:0%;
/*  background-color: red;*/
}

#save {
  position: absolute;
  top: 130%;
  left:45%;
  width: 150px;
  height: 25px;
  border-radius: 5%;
  background-color: green;
  display: none;
}

#savetext {
  position: absolute;
  color: white;
  text-decoration: none;
  top: 10%;
  left: 20%;
}
#kembali2 {
  position: absolute;
  top:30%;
  left:3%;
  /*width: 20%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;*/
  text-decoration: none;
  cursor: pointer;
  display: none;
/*  background: #082988;*/
}
#kembalitext2 {
  position: absolute;
  top: 20%;
  left: 20%;
  color: white;
}


.contener_utama {
  width: 1300px;
  height: 650px;
  padding: 30px 35px 35px;
  position: absolute;
  top: 50px;
/*  background: yellow;*/
  border-radius: 10px;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border: 1px solid white;*/
}
.contener_wraper {
  display: flex;
  height: 100%;
  position: relative;
  bottom: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #2576f7;
}



.wraper_editor {
  justify-content: center;
  width: 49%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  left: 0%;
 /* box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border: 1px solid white;*/
}
#warnabg {
  height: 12%;
  width: 75%;
  bottom: 13%;
  right: 14%;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: absolute;
  background-color:white ;
}
#bgputih {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10%;
  left: 2%;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}
#bghitam {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10%;
  left: 16%;
  background-color: #181818;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}
#bgbiru {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10%;
  left: 30%;
  background-color: blue;
  border-radius: 50%;
  cursor: pointer;
  border:1px solid white;
  border: 1px solid #ccc;
}
#bgmerah {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10%;
  left: 60%;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  border:1px solid white;
  border: 1px solid #ccc;
}
#bgtf {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10%;
  left: 75%;
/*  border:solid white 1px;*/
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}
#bghijau {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10%;
  left: 45%;
  background-color: green;
  border-radius: 50%;
  cursor: pointer;
  border:1px solid white;
  border: 1px solid #ccc;
}
#bgupload {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10%;
  left: 90%;
/*  border:solid white 1px;*/
  border-radius: 50%;
  cursor: pointer;
/*  border: 1px solid #ccc;*/
}
#icon {
  position: absolute;
  width: 95%;
}
#downloadtext {
  position: absolute;
  top: 20%;
  left: 25%;
}
#textkaos {
  position: absolute;
  top: 5%;
  left: 42%;
}
#textbg {
  position: absolute;
  top: 70%;
  left: 35%;
}
#bgtextputih {
  position: absolute;
  left: 3%;
  bottom: 10%;
}
#bgtexthitam {
  position: absolute;
  left: 17%;
  bottom: 10%;
}
#bgtextbiru {
  position: absolute;
  left: 32%;
  bottom: 10%;
}
#bgtexthijau {
  position: absolute;
  left: 47%;
  bottom: 10%;
}
#bgtextmerah {
  position: absolute;
  left: 61%;
  bottom: 10%;
}
#bgtexttf {
  position: absolute;
  left: 73%;
  bottom: 10%;
}
#bgtextupload {
  position: absolute;
  left: 91%;
  bottom: 10%;
}
#warnakaos {
  height: 55%;
  width: 70%;
  top:10%;
  left:15%;
  border-radius: 10px;
  border: 1px solid #ccc;
  position: absolute;
  background-color: white;
}
.text {
  font-size: 8px;
}



#putih {
  position: absolute;
  right: 88%;
  top: 0%;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#hitam {
  position: absolute;
  right: 88%;
  top: 20%;
  width: 40px;
  height: 40px;
  background-color:#181818;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#abumisty {
  position: absolute;
  right: 88%;
  top: 40%;
  height: 40px;
  width: 40px;
  background-color: #9b9b9b;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#abutua {
  position: absolute;
  right: 88%;
  top: 60%;
  height: 40px;
  width: 40px;
  background-color: #545454;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
 border: 1px solid #ccc;
}
#abumuda {
  position: absolute;
  right: 88%;
  top: 80%;
  height: 40px;
  width: 40px;
  background-color: #b9b9b9;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
 border: 1px solid #ccc;
}
#merah {
  position: absolute;
  right: 70%;
  top: 0%;
  height: 40px;
  width: 40px;
  background-color: #fd0005;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#maroon {
  position: absolute;
  right: 70%;
  top: 20%;
  height: 40px;
  width: 40px;
  background-color: #840106;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#teracota {
  position: absolute;
  right: 70%;
  top: 40%;
  height: 40px;
  width: 40px;
  background-color: #af3b14;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#pink {
  position: absolute;
  right: 70%;
  top: 60%;
  height: 40px;
  width: 40px;
  background-color: #fcd5e7;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#fanta {
  position: absolute;
  right: 70%;
  top: 80%;
  height: 40px;
  width: 40px;
  background-color: #cc1f71;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#navy {
  position: absolute;
  right: 50%;
  top: 0%;
  height: 40px;
  width: 40px;
  background-color: #21325e;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#biruturkis {
  position: absolute;
  right: 50%;
  top: 20%;
  height: 40px;
  width: 40px;
  background-color: #189ce6;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#birubenhur {
  position: absolute;
  right: 50%;
  top: 40%;
  height: 40px;
  width: 40px;
  background-color: #082988;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#birumuda {
  position: absolute;
  right: 50%;
  top: 60%;
  height: 40px;
  width: 40px;
  background-color: #6cc9f4;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#hijauarmy {
  position: absolute;
  right: 50%;
  top: 80%;
  height: 40px;
  width: 40px;
  background-color: #003a07;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#hijaubotol {
  position: absolute;
  right: 25%;
  top: 0%;
  height: 40px;
  width: 40px;
  background-color: #0e6b50;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#hijaustabilo {
  position: absolute;
  right: 25%;
  top: 20%;
  height: 40px;
  width: 40px;
  background-color: #9cf007;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#hijautosca {
  position: absolute;
  right: 25%;
  top: 40%;
  height: 40px;
  width: 40px;
  background-color: #157291;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#hijaufuji {
  position: absolute;
  right: 25%;
  top: 60%;
  height: 40px;
  width: 40px;
  background-color: #0b9c41;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#mustard {
  position: absolute;
  right: 25%;
  top: 80%;
  height: 40px;
  width: 40px;
  background-color: #f1ab17;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#kuningkenari {
  position: absolute;
  right: 3%;
  top: 0%;
  height: 40px;
  width: 40px;
  background-color: #fee026;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#oren {
  position: absolute;
  right: 3%;
  top: 20%;
  height: 40px;
  width: 40px;
  background-color: #f35b10;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#ungu {
  position: absolute;
  right: 3%;
  top: 40%;
  height: 40px;
  width: 40px;
  background-color: #5f3269;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#cream {
  position: absolute;
  right: 3%;
  top: 60%;
  height: 40px;
  width: 40px;
  background-color: #d2bf94;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#coklat {
  position: absolute;
  right: 3%;
  top: 80%;
  height: 40px;
  width: 40px;
  background-color: #472114;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}


#textputih {
  position: absolute;
  top: 15%;
  left: 4%;
}
#texthitam {
  position: absolute;
  top: 36%;
  left: 4%;
}
#textabumisty {
  position: absolute;
  top: 55%;
  left: 2%;
}
#textabutua {
  position: absolute;
  top: 75%;
  left:2%;
}
#textabumuda {
  position: absolute;
  top: 95%;
  left: 2%;
}
#textmerah {
  position: absolute;
  top: 15%;
  left: 21%;
}
#textmaroon {
  position: absolute;
  top: 35%;
  left: 21%;
}
#textteracota {
  position: absolute;
  top: 55%;
  left: 19%;
}
#textpink {
  position: absolute;
  top: 75%;
  left: 22%;
}
#textfanta {
  position: absolute;
  top: 95%;
  left: 22%;
}
#textnavy {
  position: absolute;
  top: 15%;
  left: 42%;
}
#textbiruturkis {
  position: absolute;
  top: 35%;
  left: 39%;
}
#textbirubenhur {
  position: absolute;
  top: 55%;
  left: 39%;
}
#textbirumuda {
  position: absolute;
  top: 75%;
  left: 39%;
}
#texthijauarmy {
  position: absolute;
  top: 95%;
  left: 39%;
}
#texthijaubotol {
  position: absolute;
  top: 15%;
  left: 63%;
}
#texthijaustabilo {
  position: absolute;
  top: 35%;
  left: 63%;
}
#texthijautosca {
  position: absolute;
  top: 55%;
  left: 63%;
}
#texthijaufuji {
  position: absolute;
  top: 75%;
  left: 65%;
}
#textmustard {
  position: absolute;
  top: 95%;
  left: 65%;
}
#textkuningkenari {
  position: absolute;
  top: 15%;
  left: 82%;
}
#textoren {
  position: absolute;
  top: 35%;
  left: 89%;
}
#textungu {
  position: absolute;
  top: 55%;
  left: 89%;
}
#textcream {
  position: absolute;
  top: 75%;
  left: 88%;
}
#textcoklat {
  position: absolute;
  top: 95%;
  left: 88%;
}





.wraper_kaos {
  text-align: center;
  width: 49%;
  height: 100%;
  border-radius: 15px;
  padding: 1% 0% 0% 0%;
  position: absolute;
  right: 0%;
 /* box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border: 1px solid white;*/
}
.contenerkaos {
  width: 95%;
  height: 82%;
  top:8%;
  left:2.5%;
  position: absolute;
  background-color: white;
  overflow: hidden;
}
#order {
  position: absolute;
  top: 1%;
  right: 35%;
  width: 30%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background: green;
  display:none; 
}
#ordertext {
  position: absolute;
  top: 20%;
  left: 38%;
  color: white;
}
#riset {
  position: absolute;
  top: 3%;
  right: 5%;
  width: 20%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background: #082988;
/*  display:none; */
}
#risettext {
  position: absolute;
  top: 19%;
  left: 25%;
  color: white;
}
#downloadtext {
  position: absolute;
  top: 20%;
  left: 26%;
  color: white;
}
#download {
  position: absolute;
  top: 1%;
  right: 2%;
  width: 30%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
/*  font-weight: 700;*/
/*  font-size: 100%;*/
  text-decoration: none;
  background-color: #082988;
  cursor: pointer;
  display:none;
}
#back {
  position: absolute;
  bottom: 2%;
  right: 40%;
  width: 20%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background: #082988;
/*  display:none; */
}
#backtext {
  position: absolute;
  top: 20%;
  left: 30%;
  color: white;
}
#kembali {
  position: absolute;
  top:40%;
  left:3%;
  text-decoration: none;
  cursor: pointer;
}
#kembalitext {
  position: absolute;
  top: 20%;
  left: 20%;
  color: white;
}
#edit {
  position: absolute;
  bottom:3%;
  right:35%;
  width: 30%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #082988;
}
#edittext {
  position: absolute;
  top: 20%;
  left: 25%;
  color: white;
}
/*#overflow {
  width: 48%;
  height: 91%;
  border: solid red 2px;
  position: absolute;
  top:5%;
  left:27%;
  overflow:hidden;
  background-color: salmon;
}*/
.contenerdesain {
  width: 30%;
  height: 40%;
/*  border: solid red 2px;*/
  position: absolute;
  top:15%;
  left:35%;
/*  background-color: salmon;*/
}
#templet {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  border: 1px dashed #082988;
}
#italic {
  position: absolute;
  left: 5%;
  top: 35%;
}
.contenerkaos img {
  width: 73%;
  height: 95%;
  position: absolute;
  top: 3%;
  right: 13%;
}

#contenerukuran {
  position: absolute;
  bottom: 1%;
  left: 2%;
  width: 200px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

#contenerputar {
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 200px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}


#contenerukuran2 {
  position: absolute;
  bottom: 1%;
  left: 2%;
  width: 200px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

#contenerputar2 {
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 200px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}


#contenerukuran3 {
  position: absolute;
  bottom: 1%;
  left: 2%;
  width: 200px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

#contenerputar3 {
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 200px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}
#contenerukuran4 {
  position: absolute;
  bottom: 1%;
  left: 2%;
  width: 200px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}
#contenerputar4 {
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 200px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}
#contenerukuran5 {
  position: absolute;
  bottom: 1%;
  left: 2%;
  width: 200px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

#contenerputar5 {
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 200px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}
.load {
/*  border: 1px solid red;*/
  position: absolute;
  width: 100%;
  height: 100%;
/*  background-color: sandybrown;*/
}
#load1.load {
/* border: 1px solid yellow;*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
/*  background-color: sandybrown;*/
}
#load2.load {
/* border: 1px solid green;*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
/*  background-color: sandybrown;*/
}
#load3.load {
/* border: 1px solid green;*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
/*  background-color: sandybrown;*/
}
#load4.load {
/* border: 1px solid green;*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
/*  background-color: sandybrown;*/
}
#load5.load {
/* border: 1px solid green;*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*background-color: sandybrown;*/
}
#drag-area img {
  width: 100%;
  height: 100%;
  top:0%;
  right:0%;
  object-fit:contain;
  position: absolute;
  cursor: move;
/*  background-color: yellow;*/
}
#gambarbg img {
  width: 100%;
  height: 100%;
  top:0%;
  right:0%;
  object-fit:cover;
  position: absolute;
}

.button {
  position: absolute;
  top: 1%;
  left: 3%;
  width: 30%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #082988;
}
#upload {
  position: absolute;
  top: 20%;
  left: 16%;
  color: white;
}
.button2 {
  position: absolute;
  top: 1%;
  left: 3%;
  width: 30%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #082988;
}
#upload2 {
  position: absolute;
  top: 20%;
  left: 16%;
  color: white;
}
.button3 {
  position: absolute;
  top: 1%;
  left: 3%;
  width: 30%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #082988;
}
#upload3 {
  position: absolute;
  top: 20%;
  left: 16%;
  color: white;
}
.button4 {
  position: absolute;
  top: 1%;
  left: 3%;
  width: 30%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #082988;
}
#upload4 {
  position: absolute;
  top: 20%;
  left: 16%;
  color: white;
}
.button5 {
  position: absolute;
  top: 1%;
  left: 3%;
  width: 30%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #082988;
}
#upload5 {
  position: absolute;
  top: 20%;
  left: 16%;
  color: white;
}




@media screen and (max-width: 1200px) {

  
.navbar {
  background-color: #2576f7;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0%;
  z-index: 999;
}

#login {
  position: absolute;
  text-decoration: none;
  color: white;
  right: 2%;
  top: 30%;
}
#daftar {
  position: absolute;
  text-decoration: none;
  color: white;
  right: 10%;
  top: 30%;
}
#home {
  position: absolute;
  text-decoration: none;
  color: white;
  right: 5%;
  top: 30%;
}
  
#save {
  position: absolute;
  top: 150%;
  left: 300px;
  width: 150px;
  height: 30px;
  border-radius: 5%;
  background-color: green;
  display: none;
}

#savetext {
  position: absolute;
  color: white;
  text-decoration: none;
  top: 20%;
  left: 20%;
}

.contener_utama {
  width: 800px;
  height: 500px;
  padding: 30px 35px 35px;
  position: absolute;
  top:150px;
/*  background: yellow;*/
  border-radius: 10px;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border: 1px solid white;*/
}
.contener_wraper {
/*  display: flex;*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #2576f7;
}



.wraper_editor {
  justify-content: center;
  width: 49%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  left: 0%;
 /* box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border: 1px solid white;*/
}
#warnabg {
  height: 10%;
  width: 95%;
  bottom: 13%;
  right: 1%;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: absolute;
  background-color:white ;
}
#bgputih {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10%;
  left: 1%;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}
#bghitam {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10%;
  left: 13%;
  background-color: #181818;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}
#bgbiru {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10%;
  left: 28%;
  background-color: blue;
  border-radius: 50%;
  cursor: pointer;
  border:1px solid white;
  border: 1px solid #ccc;
}
#bgmerah {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10%;
  left: 58%;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  border:1px solid white;
  border: 1px solid #ccc;
}
#bgtf {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10%;
  left: 75%;
  border:solid white 1px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}
#bghijau {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10%;
  left: 42%;
  background-color: green;
  border-radius: 50%;
  cursor: pointer;
  border:1px solid white;
  border: 1px solid #ccc;
}
#bgupload {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10%;
  left: 90%;
  
  border-radius: 50%;
  cursor: pointer;
  
}
#downloadtext {
  position: absolute;
  top: 10%;
  left: 25%;
}
#textkaos {
  position: absolute;
  top: 7%;
  left: 40%;
}
#textbg {
  position: absolute;
  top: 70%;
  left: 25%;
}
#bgtextputih {
  position: absolute;
  left: 1%;
  bottom: 10%;
}
#bgtexthitam {
  position: absolute;
  left: 14%;
  bottom: 10%;
}
#bgtextbiru {
  position: absolute;
  left: 30%;
  bottom: 10%;
}
#bgtexthijau {
  position: absolute;
  left: 43%;
  bottom: 10%;
}
#bgtextmerah {
  position: absolute;
  left: 57%;
  bottom: 10%;
}
#bgtexttf {
  position: absolute;
  left: 69%;
  bottom: 10%;
}
#bgtextupload {
  position: absolute;
  left: 88%;
  bottom: 10%;
}
#warnakaos {
  height: 55%;
  width: 95%;
  top:13%;
  left:5%;
  border-radius: 10px;
  border: 1px solid #ccc;
  position: absolute;
  background-color: white;
}
.text {
  font-size: 8px;
}



#putih {
  position: absolute;
  right: 88%;
  top: 0%;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#hitam {
  position: absolute;
  right: 88%;
  top: 20%;
  width: 30px;
  height: 30px;
  background-color:#181818;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#abumisty {
  position: absolute;
  right: 88%;
  top: 40%;
  height: 30px;
  width: 30px;
  background-color: #9b9b9b;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#abutua {
  position: absolute;
  right: 88%;
  top: 60%;
  height: 30px;
  width: 30px;
  background-color: #545454;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
 border: 1px solid #ccc;
}
#abumuda {
  position: absolute;
  right: 88%;
  top: 80%;
  height: 30px;
  width: 30px;
  background-color: #b9b9b9;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
 border: 1px solid #ccc;
}
#merah {
  position: absolute;
  right: 70%;
  top: 0%;
  height: 30px;
  width: 30px;
  background-color: #fd0005;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#maroon {
  position: absolute;
  right: 70%;
  top: 20%;
  height: 30px;
  width: 30px;
  background-color: #830106;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#teracota {
  position: absolute;
  right: 70%;
  top: 40%;
  height: 30px;
  width: 30px;
  background-color: #af3b14;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#pink {
  position: absolute;
  right: 70%;
  top: 60%;
  height: 30px;
  width: 30px;
  background-color: #fcd5e7;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#fanta {
  position: absolute;
  right: 70%;
  top: 80%;
  height: 30px;
  width: 30px;
  background-color: #cc1f71;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#navy {
  position: absolute;
  right: 50%;
  top: 0%;
  height: 30px;
  width: 30px;
  background-color: #21325e;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#biruturkis {
  position: absolute;
  right: 50%;
  top: 20%;
  height: 30px;
  width: 30px;
  background-color: #189ce6;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#birubenhur {
  position: absolute;
  right: 50%;
  top: 40%;
  height: 30px;
  width: 30px;
  background-color: #082988;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#birumuda {
  position: absolute;
  right: 50%;
  top: 60%;
  height: 30px;
  width: 30px;
  background-color: #6cc9f4;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#hijauarmy {
  position: absolute;
  right: 50%;
  top: 80%;
  height: 30px;
  width: 30px;
  background-color: #003a07;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#hijaubotol {
  position: absolute;
  right: 25%;
  top: 0%;
  height: 30px;
  width: 30px;
  background-color: #0e6b50;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#hijaustabilo {
  position: absolute;
  right: 25%;
  top: 20%;
  height: 30px;
  width: 30px;
  background-color: #9cf007;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#hijautosca {
  position: absolute;
  right: 25%;
  top: 40%;
  height: 30px;
  width: 30px;
  background-color: #157291;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#hijaufuji {
  position: absolute;
  right: 25%;
  top: 60%;
  height: 30px;
  width: 30px;
  background-color: #0b9c41;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#mustard {
  position: absolute;
  right: 25%;
  top: 80%;
  height: 30px;
  width: 30px;
  background-color: #f1ab17;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#kuningkenari {
  position: absolute;
  right: 3%;
  top: 0%;
  height: 30px;
  width: 30px;
  background-color: #fee026;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#oren {
  position: absolute;
  right: 3%;
  top: 20%;
  height: 30px;
  width: 30px;
  background-color: #f35b10;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#ungu {
  position: absolute;
  right: 3%;
  top: 40%;
  height: 30px;
  width: 30px;
  background-color: #5f3269;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#cream {
  position: absolute;
  right: 3%;
  top: 60%;
  height: 30px;
  width: 30px;
  background-color: #d2bf94;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
#coklat {
  position: absolute;
  right: 3%;
  top: 80%;
  height: 30px;
  width: 30px;
  background-color: #472114;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}


#textputih {
  position: absolute;
  top: 15%;
  left: 4%;
}
#texthitam {
  position: absolute;
  top: 36%;
  left: 4%;
}
#textabumisty {
  position: absolute;
  top: 55%;
  left: 2%;
}
#textabutua {
  position: absolute;
  top: 75%;
  left:2%;
}
#textabumuda {
  position: absolute;
  top: 95%;
  left: 2%;
}
#textmerah {
  position: absolute;
  top: 15%;
  left: 21%;
}
#textmaroon {
  position: absolute;
  top: 35%;
  left: 21%;
}
#textteracota {
  position: absolute;
  top: 55%;
  left: 19%;
}
#textpink {
  position: absolute;
  top: 75%;
  left: 22%;
}
#textfanta {
  position: absolute;
  top: 95%;
  left: 22%;
}
#textnavy {
  position: absolute;
  top: 15%;
  left: 42%;
}
#textbiruturkis {
  position: absolute;
  top: 35%;
  left: 39%;
}
#textbirubenhur {
  position: absolute;
  top: 55%;
  left: 39%;
}
#textbirumuda {
  position: absolute;
  top: 75%;
  left: 39%;
}
#texthijauarmy {
  position: absolute;
  top: 95%;
  left: 39%;
}
#texthijaubotol {
  position: absolute;
  top: 15%;
  left: 63%;
}
#texthijaustabilo {
  position: absolute;
  top: 35%;
  left: 63%;
}
#texthijautosca {
  position: absolute;
  top: 55%;
  left: 63%;
}
#texthijaufuji {
  position: absolute;
  top: 75%;
  left: 65%;
}
#textmustard {
  position: absolute;
  top: 95%;
  left: 65%;
}
#textkuningkenari {
  position: absolute;
  top: 15%;
  left: 82%;
}
#textoren {
  position: absolute;
  top: 35%;
  left: 89%;
}
#textungu {
  position: absolute;
  top: 55%;
  left: 89%;
}
#textcream {
  position: absolute;
  top: 75%;
  left: 88%;
}
#textcoklat {
  position: absolute;
  top: 95%;
  left: 88%;
}





.wraper_kaos {
  text-align: center;
  width: 49%;
  height: 100%;
  border-radius: 15px;
  padding: 1% 0% 0% 0%;
  position: absolute;
  right: 0%;
 /* box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border: 1px solid white;*/
}
.contenerkaos {
  width: 95%;
  height: 75%;
  top:8%;
  left:2.5%;
  position: absolute;
  background-color: white;
  overflow: hidden;
}
#order {
  position: absolute;
  top: 1%;
  right: 35%;
  width: 25%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background: green;
  display:none; 
}
#ordertext {
  position: absolute;
  top: 20%;
  left: 15%;
  color: white;
  font-size: 90%;
}
#riset {
  position: absolute;
  top: 1%;
  right: 5%;
  width: 40%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background: #082988;
/*  display:none; */
}
#risettext {
  position: absolute;
  top: 19%;
  left: 30%;
  color: white;
  font-size: 90%;
}
#downloadtext {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
  font-size: 90%;
}
#download {
  position: absolute;
  top: 1%;
  right: 2%;
  width: 30%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
/*  font-weight: 700;*/
/*  font-size: 100%;*/
  text-decoration: none;
  background-color: #082988;
  cursor: pointer;
  display:none;
}
#back {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 90%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background: #082988;
/*  display:none; */
}
#backtext {
  position: absolute;
  top: 18%;
  left: 40%;
  color: white;
}
#kembali {
  position: absolute;
  top:40%;
  left:3%;
  text-decoration: none;
  cursor: pointer;
}
#kembalitext {
  position: absolute;
  top: 20%;
  left: 30%;
  color: white;
  font-size: 90%;
}
#edit {
  position: absolute;
  bottom:3%;
  right:1%;
  width: 95%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #082988;
}
#edittext {
  position: absolute;
  top: 20%;
  left: 40%;
  color: white;
}
/*#overflow {
  width: 48%;
  height: 91%;
  border: solid red 2px;
  position: absolute;
  top:5%;
  left:27%;
  overflow:hidden;
  background-color: salmon;
}*/
.contenerdesain {
  width: 40%;
  height: 40%;
/*  border: solid red 2px;*/
  position: absolute;
  top:15%;
  left:30%;
/*  background-color: salmon;*/
}
#templet {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  border: 1px dashed #082988;
 
}
#italic {
  position: absolute;
  left: 5%;
  top: 20%;
}
.contenerkaos img {
  width: 90%;
  height: 95%;
  position: absolute;
  top: 3%;
  right: 5%;
}

#contenerukuran {
  position: absolute;
  bottom: 1%;
  left: 2%;
  width: 170px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

#contenerputar {
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 170px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}


#contenerukuran2 {
  position: absolute;
  bottom: 1%;
  left: 2%;
  width: 170px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

#contenerputar2 {
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 170px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}


#contenerukuran3 {
  position: absolute;
  bottom: 1%;
  left: 2%;
  width: 170px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

#contenerputar3 {
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 170px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}
#contenerukuran4 {
  position: absolute;
  bottom: 1%;
  left: 2%;
  width: 170px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}
#contenerputar4 {
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 170px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}
#contenerukuran5 {
  position: absolute;
  bottom: 1%;
  left: 2%;
  width: 170px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

#contenerputar5 {
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 170px;
  height: 70;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}
.load {
/*  border: 1px solid red;*/
  position: absolute;
  width: 100%;
  height: 100%;
/*  background-color: sandybrown;*/
}
#load1.load {
/* border: 1px solid yellow;*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
/*  background-color: sandybrown;*/
}
#load2.load {
/* border: 1px solid green;*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
/*  background-color: sandybrown;*/
}
#load3.load {
/* border: 1px solid green;*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
/*  background-color: sandybrown;*/
}
#load4.load {
/* border: 1px solid green;*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
/*  background-color: sandybrown;*/
}
#load5.load {
/* border: 1px solid green;*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*background-color: sandybrown;*/
}
#drag-area img {
  width: 100%;
  height: 100%;
  top:0%;
  right:0%;
  object-fit:contain;
  position: absolute;
  cursor: move;
/*  background-color: yellow;*/
}
#gambarbg img {
  width: 100%;
  height: 100%;
  top:0%;
  right:0%;
  object-fit:cover;
  position: absolute;
}

.button {
  position: absolute;
  top: 1%;
  left: 3%;
  width: 35%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #082988;
}
#upload {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  font-size: 90%;
}
.button2 {
  position: absolute;
  top: 1%;
  left: 3%;
  width: 35%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #082988;
}
#upload2 {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  font-size: 90%;
}
.button3 {
  position: absolute;
  top: 1%;
  left: 3%;
  width: 35%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #082988;
}
#upload3 {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  font-size: 90%;
}
.button4 {
  position: absolute;
  top: 1%;
  left: 3%;
  width: 35%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #082988;
}
#upload4 {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  font-size: 90%;
}
.button5 {
  position: absolute;
  top: 1%;
  left: 3%;
  width: 35%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background: #082988;
}
#upload5 {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  font-size: 90%;


}







@media screen and (max-width: 760px) {

  .navbar {
    height:30px;
    position: absolute;
    /*display: none;*/
  }
  #login {
  position: absolute;
  text-decoration: none;
  color: white;
  right: 1%;
  top: 30%;
  font-size :80%;
}
#daftar {
  position: absolute;
  text-decoration: none;
  color: white;
  right: 13%;
  top: 30%;
   font-size :80%;
}
#home {
  position: absolute;
  text-decoration: none;
  color: white;
  right: 5%;
  top: 30%;
  font-size :80%;
}
 #replace {
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0%;
/*  background-color: red;*/
}

#save {
  position: absolute;
  top: 500px;
  left: 23%;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: green;
  
  display: none;
}

#savetext {
  position: absolute;
  color: white;
  text-decoration: none;
  top: 18%;
  left: 15;
  font-size:150%;
}
#kembali2 {
  position: absolute;
  top:30%;
  left:3%;
  /*width: 20%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;*/
  text-decoration: none;
  cursor: pointer;
  display: none;
/*  background: #082988;*/
}
#kembalitext2 {
  position: absolute;
  top: 20%;
  left: 20%;
  color: white;
  font-size:80%
}
  .contener_utama{
    position: absolute;
    top: 8%;
    padding:10px;
    width: 350px;
    height: 700px;
/*    border: 1px solid red;*/
  }
  .contener_utama .contener_wraper{
    flex-wrap: wrap-reverse;
  }
  .contener_wraper {
    width: 100%;
     top: 0%;
  }
 .contener_wraper .wraper_editor{
    position: absolute;
    width: 100%;
    height: 44%;
    margin: 0 0 0px;
    font-size: 1.5vmax;
/*    border: 1px solid blue;*/
  }





.wraper_editor #textbg {
    position: absolute;
    font-size: 10px;
    left: 35%;
    top: 76%;
  }
.wraper_editor #warnabg {
    position: absolute;
    right: 2.5%;
    bottom: 1%;
    width: 95%;
    height: 17%;
  }
#warnabg .text {
    font-size: 7px;
    text-align: center;
}
#bgtextputih {
  position: absolute;
  left: 3%;
  bottom: 10%;
}
#bgtexthitam {
  position: absolute;
  left: 15%;
  bottom: 10%;
}
#bgtextbiru {
  position: absolute;
  left: 31%;
  bottom: 10%;
}
#bgtexthijau {
  position: absolute;
  left: 60%;
  bottom: 10%;
}
#bgtextmerah {
  position: absolute;
  left: 45%;
  bottom: 10%;
}
#bgtexttf {
  position: absolute;
  left: 70%;
  bottom: 10%;
}
#bgtextupload {
  position: absolute;
  left: 89%;
  bottom: 10%;
}
#warnabg #bgputih {
  position: absolute;
  top: 5%;
  left: 1%;
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
}
#warnabg #bghitam {
  position: absolute;
  top: 5%;
  left:14%;
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;;
}
#warnabg #bgbiru {
  position: absolute;
  top: 5%;
  left: 28%;
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
}
#warnabg #bgmerah {
  position: absolute;
  top: 5%;
  left: 44%;
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
}
#warnabg #bghijau {
  position: absolute;
  top: 5%;
  left: 58%;
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
}
#warnabg #bgtf {
  position: absolute;
  top: 5%;
  left: 73%;
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
}
#warnabg #bgupload {
  position: absolute;
  top: 5%;
  left: 88%;
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
}






.wraper_editor #textkaos {
    position: absolute;
    font-size: 10px;
    top:0%;
    left: 42%;
  }
.wraper_editor #warnakaos {
  position: absolute;
  left: 2.5%;
  top: 6%;
  width: 95%;
  height: 70%;
}
#warnakaos .text {
    font-size: 7px;
    text-align: center;
}
#textputih {
  position: absolute;
  top: 16%;
  left: 6%;
}
#texthitam {
  position: absolute;
  top: 36%;
  left: 6%;
}
#textabumisty {
  position: absolute;
  top: 56%;
  left: 3.5%;
}
#textabutua {
  position: absolute;
  top: 76%;
  left:5%;
}
#textabumuda {
  position: absolute;
  top: 96%;
  left: 4%;
}
#textmerah {
  position: absolute;
  top: 16%;
  left: 25%;
}
#textmaroon {
  position: absolute;
  top: 36%;
  left: 24%;
}
#textteracota {
  position: absolute;
  top: 56%;
  left: 23%;
}
#textpink {
  position: absolute;
  top: 76%;
  left: 26%;
}
#textfanta {
  position: absolute;
  top: 96%;
  left: 25%;
}
#textnavy {
  position: absolute;
  top: 16%;
  left: 46%;
}
#textbiruturkis {
  position: absolute;
  top: 36%;
  left: 42%;
}
#textbirubenhur {
  position: absolute;
  top: 56%;
  left: 41%;
}
#textbirumuda {
  position: absolute;
  top: 76%;
  left: 42%;
}
#texthijauarmy {
  position: absolute;
  top: 96%;
  left: 42%;
}
#texthijaubotol {
  position: absolute;
  top: 16%;
  left: 62%;
}
#texthijaustabilo {
  position: absolute;
  top: 36%;
  left: 61%;
}
#texthijautosca {
  position: absolute;
  top: 56%;
  left: 62%;
}
#texthijaufuji {
  position: absolute;
  top: 76%;
  left: 63%;
}
#textmustard {
  position: absolute;
  top: 96%;
  left: 64%;
}
#textkuningkenari {
  position: absolute;
  top: 16%;
  left: 82%;
}
#textoren {
  position: absolute;
  top: 36%;
  left: 88%;
}
#textungu {
  position: absolute;
  top: 56%;
  left: 88%;
}
#textcream {
  position: absolute;
  top: 76%;
  left: 87%;
}
#textcoklat {
  position: absolute;
  top: 96%;
  left: 87%;
}
#warnakaos #putih {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 3%;
  top: -2%;
}
#warnakaos #hitam {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 3%;
  top: 18%;
}
#warnakaos #abumisty {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 3%;
  top: 38%;
}
#warnakaos #abutua {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 3%;
  top: 58%;
}
#warnakaos #abumuda {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 3%;
  top: 77.5%;
}
#warnakaos #merah {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 22%;
  top: -2%;
}
#warnakaos #maroon {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 22%;
  top: 18%;
}
#warnakaos #teracota {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 22%;
  top: 38%;
}
#warnakaos #pink {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 22%;
  top: 58%;
}
#warnakaos #fanta {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 22%;
  top: 77.5%;
}
#warnakaos #navy {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 42%;
  top: -2%;
}
#warnakaos #biruturkis {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 42%;
  top:18%;
}
#warnakaos #birubenhur {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 42%;
  top: 38%;
}
#warnakaos #birumuda {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 42%;
  top: 58%;
}
#warnakaos #hijauarmy {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  position: absolute;
  left: 42%;
  top: 77.5%;
}
#warnakaos #hijaubotol {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  top: -2%;
}
#warnakaos #hijaustabilo {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  top: 18%;
}
#warnakaos #hijautosca {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  top: 38%;
}
#warnakaos #hijaufuji {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  top: 58%;
}
#warnakaos #mustard {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  top: 77.5%;
}
#warnakaos #kuningkenari {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  top: -2%;
}
#warnakaos #oren {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  top: 18%;
}
#warnakaos #ungu {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  top: 38%;
}
#warnakaos #cream {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  top: 58%;
}
#warnakaos #coklat {
  width: calc(50px - 20px);
  height: calc(50px - 20px);
  border-radius: 50%;
  top: 77.5%;
}









.contener_wraper .wraper_kaos{
    top: 0%;
    width: 100%;
    height: 55%;
    margin: 0 0 0px;
  }
  .wraper_kaos .contenerkaos {
    position: absolute;
    height: 80%;
    top: 10%;
  }
  /*#overflow {
  width: 56%;
  height: 92%;
  border: solid red 2px;
  position: absolute;
  top:5%;
  left:23%;
  overflow:hidden;
  background-color: salmon;
}*/
.contenerdesain {
  width: 35%;
  height: 35%;
/*  border: solid red 2px;*/
  position: absolute;
  top:18%;
  left:33%;
/*  background-color: salmon;*/
}
  #templet {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  border: 1px dashed black;
  font-size: 80%;
}
#italic {
  position: absolute;
  right: 2%;
  top: 8%;
}
  .contenerkaos img {
  width: 83%;
  position: absolute;
  top: 3%;
  right: 8%;
  }
  #order {
  position: absolute;
  top: 1%;
  right: 35%;
  width: 20%;
  height: 7%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  background-color: green;
  
}
#ordertext {
  position: absolute;
  left: 15%;
  top: 15%;
/*  font-weight: 5%;*/
}

#riset {
/*  display: none;*/
  position: absolute;
  top: -2%;
  left: 5%;
  width: 25%;
  height: 7%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  background-color: #082988;
  
}
#risettext {
  position: absolute;
  left: 17%;
  top: 3%;
  font-size: 18px;
}
#back {
  position: absolute;
  bottom: -6%;
  right: 5%;
  width: 25%;
  height: 6%;
}
#backtext {
  position: absolute;
  left: 20%;
  top: 10%;
}
.wraper_kaos #download {
  position: absolute;
  top: 1%;
  left: 67%;
  width: 32%;
  height: 7%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  background-color: #082988;
 
}
#edit {
  display: none;
  /*position: absolute;
  bottom:1%;
  right:5%;
  width: 40%;
  height: 7%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  background-color: #082988;*/
}
/*#edittext {
  position: absolute;
  left: 16%;
  top: 5%;
}*/
.wraper_kaos .button{
  position: absolute;
  top: 1%;
  left: 3%;
  width: 40%;
  height: 7%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  background-color: #082988;
  cursor: pointer;
}
#upload {
  position: absolute;
  top: 10%;
  left: 10%;
}
.wraper_kaos .button2{
  position: absolute;
  top: 1%;
  left: 3%;
  width: 40%;
  height: 7%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  background-color: #082988;
  cursor: pointer;
}
#upload2 {
  position: absolute;
  top: 10%;
  left: 10%;
} 
.wraper_kaos .button3{
  position: absolute;
  top: 1%;
  left: 3%;
  width: 40%;
  height: 7%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  background-color: #082988;
  cursor: pointer;
}
#upload3 {
  position: absolute;
  top: 10%;
  left: 10%;
} 
.wraper_kaos .button4{
  position: absolute;
  top: 1%;
  left: 3%;
  width: 40%;
  height: 7%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  background-color: #082988;
  cursor: pointer;
}
#upload4 {
  position: absolute;
  top: 10%;
 left: 10%;
} 
.wraper_kaos .button5{
  position: absolute;
  top: 1%;
  left: 3%;
  width: 40%;
  height: 7%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  background-color: #082988;
  cursor: pointer;
}
#upload5 {
 position: absolute;
 top: 10%;
 left: 10%;
}
 #download {
   position: absolute;
   top: 1%;
   left: 25%;
   
  }
  #downloadtext {
  position: absolute;
  top: 10%;
  left: 15%;
}

#contenerukuran {
  position: absolute;
  bottom: 1%;
  left: 1%;
  width: 48%;
  height: 8%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 50%;  
}

#contenerputar {
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 48%;
  height: 8%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 50%;
}

  
#contenerukuran2 {
  position: absolute;
  bottom: 1%;
  left: 1%;
  width: 48%;
  height: 8%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 50%;
}

#contenerputar2 {
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 48%;
  height: 8%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 50%;
}

 #contenerukuran3 {
  position: absolute;
  bottom: 1%;
  left: 1%;
  width: 48%;
  height: 8%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 50%;
}

#contenerputar3 {
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 48%;
  height: 8%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 50%;
  display:none;
}

  #contenerukuran4 {
  position: absolute;
  bottom: 1%;
  left: 1%;
  width: 48%;
  height: 8%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 50%;
}

#contenerputar4 {
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 48%;
  height: 8%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 50%;
}
#contenerukuran5 {
  position: absolute;
  bottom: 1%;
  left: 1%;
  width: 48%;
  height: 8%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 50%;
}

#contenerputar5 {
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 48%;
  height: 8%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 50%;
}
#kembali {
  position: absolute;
  top:30%;
  left:3%;
  text-decoration: none;
  cursor: pointer;
}
 
}